// Import page-specific CSS files here.
@import "home";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

h1 {
  font-family: sans-serif;
  color: white;
  margin-bottom: 20px;
  font-size: 60px;
}

body {
  background-color: #bfbdbd;
}

a {
  color: #grey;
  text-decoration: none;
  background-color: transparent;
}

.btn.btn-primary {
  background-color: white;
  color: grey;
}

.btn-primary {
  border-color: white;
}

.card{
  .card-body{
    h5 {
      a{
        color: grey;
      }
    }
  }
}


a{
  color: #grey;
}

