<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <img src="https://www.pinclipart.com/picdir/big/362-3622987_png-file-svg-cocktail-icon-transparent-clipart.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "All Cocktails", cocktails_path, class: "nav-item nav-link active" %>
      <%= link_to "Add A Cocktail", new_cocktail_path, class: "nav-item nav-link"%>
    </div>
  </div>
</nav>

