  <h1> Add a dose</h1>
    <div>
    <%= simple_form_for([cocktail, dose]) do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "I am done !", class: "btn btn-primary" %>
    <% end %>
  </div>



